# General
*.pyc
*.swp
*.swo
*~

# Virtual Environment
.virtualenv/*
.venv/*

# Static data
static/*
openslides_voting/static/js/openslides_voting/templates.js
openslides_voting/static/i18n/*

# Translations
*.mo
*.pot

# Javascript tools and libraries
node_modules/*
bower_components/*

# Package building/IDE
docs/_build/*
*.egg-info
build/*
dist/*
debug/*
.DS_Store
.idea

# mypy
.mypy_cache/
