# General
*.pyc
*.swp
*.swo
*~

# Virtual Environment
.virtualenv/*
.venv/*

# Static data
static/*

# Translations
*.mo
*.pot

# Javascript tools and libraries
node_modules/*
bower_components/*

# Package building/IDE
docs/_build/*
*.egg-info
build/*
dist/*
debug/*
.DS_Store
.idea

# mypy
.mypy_cache/
