<div class="header">
  <div class="title">
    <div class="submenu">
      <a ui-sref="users.user.list" class="btn btn-sm btn-default">
        <i class="fa fa-angle-double-left fa-lg"></i>
        <translate>Back to overview</translate>
      </a>
      <a ng-click="openDialog()" class="btn btn-primary btn-sm">
        <i class="fa fa-plus fa-lg"></i>
        <translate>New</translate>
      </a>
      <a ui-sref="openslides_voting.absenteeVote.import" class="btn btn-default btn-sm">
        <i class="fa fa-download fa-lg"></i>
        <translate>Import</translate>
      </a>
    </div>
    <h1 translate>Absentee votes</h1>
  </div>
</div>

<div class="details">
  <div class="row">
    <div class="col-sm-6">
      <!-- Delete mode -->
      <button class="btn"
          ng-class="isDeleteMode ? 'btn-primary' : 'btn-default'"
          ng-click="isDeleteMode = !isDeleteMode; uncheckAll()">
        <i class="fa fa-check-square-o"></i>
        <translate>Select ...</translate>
      </button>
    </div>
    <div class="col-sm-4 pull-right">
      <!-- Search/filter -->
      <input type="text" ng-model="filter.search" class="form-control"
          placeholder="{{ 'Search' | translate }}">
    </div>
  </div>
  <!-- Delete mode options -->
  <div uib-collapse="!isDeleteMode" class="row spacer">
    <div class="col-sm-12 text-left">
      <!-- Delete button -->
      <a ng-show="isDeleteMode"
         ng-bootbox-confirm="{{ 'Are you sure you want to delete all selected absentee votes?' | translate }}"
         ng-bootbox-confirm-action="deleteMultiple()"
         class="btn btn-primary">
        <i class="fa fa-trash fa-lg"></i>
        <translate>Delete selected absentee votes</translate>
      </a>
    </div>
  </div>

  <div class="spacer-top-lg italic">
    <div ng-repeat="av in absenteeVotesFiltered = (absenteeVotes | osFilter:filter.search:getFilterString |
        orderBy:sortColumn:reverse)"></div>
    {{ absenteeVotesFiltered.length }} / {{ absenteeVotes.length }} {{ "Absentee votes" | translate }}
    <span ng-if="(absenteeVotes | filter:{selected:true}).length > 0">,
    {{(absenteeVotes | filter:{selected:true}).length}} {{ "selected" | translate }}</span>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <!-- Delete selection column -->
        <th ng-show="isDeleteMode" class="minimum deleteColumn">
          <input type="checkbox" ng-model="$parent.selectedAll" ng-change="checkAll()">

        <!-- Delegate column -->
        <th ng-click="toggleSort('user.full_name')" class="sortable">
          <translate>Delegate</translate>
          <i class="pull-right fa" ng-show="sortColumn === 'user.full_name' && header.sortable != false"
              ng-class="reverse ? 'fa-sort-desc' : 'fa-sort-asc'">
          </i>

        <!-- Motion column -->
        <th ng-click="toggleSort('motion.identifier')" class="sortable">
          <translate>Motion</translate>
          <i class="pull-right fa" ng-show="sortColumn === 'motion.identifier' && header.sortable != false"
              ng-class="reverse ? 'fa-sort-desc' : 'fa-sort-asc'">
          </i>

        <!-- Vote column -->
        <th ng-click="toggleSort('vote')" class="sortable">
          <translate>Voting intention</translate>
          <i class="pull-right fa" ng-show="sortColumn === 'vote' && header.sortable != false"
              ng-class="reverse ? 'fa-sort-desc' : 'fa-sort-asc'">
          </i>

    <tbody>
      <tr ng-repeat="absenteeVote in absenteeVotesFiltered | limitTo:pg.itemsPerPage:pg.firstItem"
        class="animate-item" ng-class="{'selected':absenteeVote.selected}">

        <!-- Delete selection -->
        <td ng-show="isDeleteMode" class="deleteColumn">
          <input type="checkbox" ng-model="absenteeVote.selected">

        <!-- Delegate -->
        <td ng-mouseover="absenteeVote.hover=true" ng-mouseleave="absenteeVote.hover=false">
            <a href="" ui-sref="users.user.detail({id: absenteeVote.user.id})">{{ absenteeVote.user.full_name }}</a>
            <div class="hoverActions" ng-class="{'hiddenDiv': !absenteeVote.hover}">
              <!-- TODO: bootbox-confirm field does not autoupdate -->
              <span>
                <a href="" ng-click="openDialog(absenteeVote)" translate>Edit</a> &middot;
                <a href="" class="text-danger"
                  ng-bootbox-confirm="{{ 'Are you sure you want to delete this entry?' | translate }}<br>
                  <b>{{ absenteeVote.getTitle() }}</b>"
                  ng-bootbox-confirm-action="delete(absenteeVote)" translate>Delete</a>
              </span>
            </div>

        <!-- Motion -->
        <td>{{ absenteeVote.getMotionTitle() }}

        <!-- Vote -->
        <td>
          <i class="fa fa-{{ absenteeVote.getVoteIcon() }}"></i>
          <span style="margin-left: 5px">{{ absenteeVote.getVote() | translate }}</span>
  </table>
  <ul uib-pagination
      ng-show="absenteeVotesFiltered.length > pg.itemsPerPage"
      total-items="absenteeVotesFiltered.length"
      items-per-page="pg.itemsPerPage"
      ng-model="pg.currentPage"
      ng-change="pg.pageChanged()"
      class="pagination-sm"
      direction-links="false"
      boundary-links="true"
      first-text="&laquo;"
      last-text="&raquo;">
  </ul>
</div>
