<div class="header">
  <div class="title">
    <div class="submenu">
      <a ui-sref="users.user.list" class="btn btn-sm btn-default">
        <i class="fa fa-angle-double-left fa-lg"></i>
        <translate>Back to overview</translate>
      </a>
      <a ng-click="openDialog()" class="btn btn-primary btn-sm">
        <i class="fa fa-plus fa-lg"></i>
        <translate>New</translate>
      </a>
      <a ui-sref="openslides_voting.absenteeVote.import" class="btn btn-default btn-sm">
        <i class="fa fa-download fa-lg"></i>
        <translate>Import</translate>
      </a>
    </div>
    <h1 translate>Absentee votes</h1>
  </div>
</div>

<div class="details">
  <div class="row">
    <div class="col-sm-6">
      <!-- Delete mode -->
      <button class="btn"
          ng-class="isDeleteMode ? 'btn-primary' : 'btn-default'"
          ng-click="isDeleteMode = !isDeleteMode; uncheckAll()">
        <i class="fa fa-check-square-o"></i>
        <translate>Select ...</translate>
      </button>
    </div>
    <div class="col-sm-4 pull-right">
      <!-- Search/filter -->
      <input type="text" ng-model="filter.filterString" class="form-control"
             ng-change="filter.save()"
             placeholder="{{ 'Search' | translate }}">
    </div>
  </div>
  <!-- Delete mode options -->
  <div uib-collapse="!isDeleteMode" class="row spacer">
    <div class="col-sm-12 text-left">
      <!-- Delete button -->
      <a ng-show="isDeleteMode"
         ng-bootbox-confirm="{{ 'Are you sure you want to delete all selected absentee votes?' | translate }}"
         ng-bootbox-confirm-action="deleteMultiple()"
         class="btn btn-primary">
        <i class="fa fa-trash fa-lg"></i>
        <translate>Delete selected absentee votes</translate>
      </a>
    </div>
  </div>

  <div class="spacer-top-lg italic">
    {{ absenteeVotesFiltered.length }} / {{ absenteeVotes.length }} {{ "Absentee votes" | translate }}
    <span ng-if="(absenteeVotes | filter:{selected:true}).length > 0">,
    {{(absenteeVotes | filter:{selected:true}).length}} {{ "selected" | translate }}</span>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <!-- Delete selection column -->
        <th ng-show="isDeleteMode" class="minimum deleteColumn">
          <input type="checkbox" ng-model="$parent.selectedAll" ng-change="checkAll()">
        </th>

        <!-- Delegate column -->
        <th ng-click="sort.toggle('user.full_name')" class="sortable">
          <translate>Delegate</translate>
          <i class="pull-right fa" ng-show="sort.column === 'user.full_name'"
              ng-class="sort.reverse ? 'fa-sort-desc' : 'fa-sort-asc'">
          </i>
        </th>

        <!-- Motion column -->
        <th ng-click="sort.toggle('motion.identifier')" class="sortable">
          <translate>Motion</translate>
          <i class="pull-right fa" ng-show="sort.column === 'motion.identifier'"
              ng-class="sort.reverse ? 'fa-sort-desc' : 'fa-sort-asc'">
          </i>
        </th>

        <!-- Vote column -->
        <th ng-click="sort.toggle('vote')" class="sortable">
          <translate>Voting intention</translate>
          <i class="pull-right fa" ng-show="sort.column === 'vote'"
              ng-class="sort.reverse ? 'fa-sort-desc' : 'fa-sort-asc'">
          </i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="absenteeVote in absenteeVotesFiltered = (absenteeVotes
        | osFilter : filter.filterString : filter.getObjectQueryString
        | orderBy : sort.column : sort.reverse)
        | limitTo : pagination.itemsPerPage : pagination.limitBegin"
        ng-class="{'selected':absenteeVote.selected}"
        ng-mouseover="absenteeVote.hover=true" ng-mouseleave="absenteeVote.hover=false">

        <!-- Delete selection -->
        <td ng-show="isDeleteMode" class="deleteColumn">
          <input type="checkbox" ng-model="absenteeVote.selected">
        </td>

        <!-- Delegate -->
        <td>
          <a href="" ui-sref="users.user.detail({id: absenteeVote.delegate_id})">{{ absenteeVote.delegate.full_name }}</a>
          <div class="hoverActions" ng-class="{'hiddenDiv': !absenteeVote.hover}">
            <span>
              <a href="" ng-click="openDialog(absenteeVote)" translate>Edit</a> &middot;
              <a href="" class="text-danger"
                ng-bootbox-confirm="{{ 'Are you sure you want to delete this entry?' | translate }}<br>
                <b>{{ absenteeVote.getTitle() }}</b>"
                ng-bootbox-confirm-action="delete(absenteeVote)" translate>Delete</a>
            </span>
          </div>
        </td>

        <!-- Object -->
        <td ng-if="absenteeVote.getResourceName() === 'openslides_voting/motion-absentee-vote'">
          <a ui-sref="motions.motion.detail({id: absenteeVote.motion_id})">
            {{ absenteeVote.getObjectTitle() }}
          </a>
        </td>
        <td ng-if="absenteeVote.getResourceName() === 'openslides_voting/assignment-absentee-vote'">
          <a ui-sref="assignments.assignment.detail({id: absenteeVote.assignment_id})">
            {{ absenteeVote.getObjectTitle() }}
          </a>
        </td>

        <!-- Vote -->
        <td>
          <i ng-if="absenteeVote.getVoteIcon()" class="fa fa-{{ absenteeVote.getVoteIcon() }}"></i>
          <span style="margin-left: 5px">{{ absenteeVote.getVote() | translate }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <ul uib-pagination
      ng-show="absenteeVotesFiltered.length > pagination.itemsPerPage"
      total-items="absenteeVotesFiltered.length"
      items-per-page="pagination.itemsPerPage"
      ng-model="pagination.currentPage"
      ng-change="pagination.pageChanged()"
      class="pagination-sm"
      direction-links="false"
      boundary-links="true"
      first-text="&laquo;"
      last-text="&raquo;">
  </ul>

  <p class="grey" translate>Note: Absentee votes for elections are not supported yet.</p>
</div>
