<style type="text/css">
  #attendance-table, #history-table {
    width: auto;
  }
  #attendance-table, #history-table td:first-child {
    white-space: nowrap;
  }
</style>

<div class="header">
  <div class="title">
    <div class="submenu">
      <a ui-sref="openslides_voting.delegate.list" class="btn btn-sm btn-default">
        <i class="fa fa-angle-double-left fa-lg"></i>
        <translate>Back to overview</translate>
      </a>
    </div>
    <h1 translate>Attendance</h1>
  </div>
</div>

<div class="details">
  <div class="scroll-x-container">
    <table class="table table-bordered" id="attendance-table">
      <thead>
        <tr>
          <th><!--<translate>Voting principle</translate>-->
          <th class="text-right"><translate>Heads</translate>

          <!-- Voting principle columns -->
          <th ng-repeat="category in (categories | orderBy:'id')" class="text-right">
            {{ category.name }}

      <tbody>
        <tr ng-repeat="i in [0, 1, 2, 3]" ng-init="principle = ['Total', 'Present', 'Present in person', 'Represented']">
          <td>{{ principle[i] | translate }}
          <td class="text-right">{{ attendance.heads[i] }}
          <!-- Voting principle columns. Categories must be sorted in the same order as the header. -->
          <td ng-repeat="category in (categories | orderBy:'id')" class="text-right">
            {{ attendance[category.id][i] | number:getVPPrecision(category.name) }}
          <!-- TODO: Show percentages and indicate if attendance drops below 50 % -->
    </table>
  </div>

  <div class="spacer">
    <button type="button" class="btn btn-sm btn-default" ng-click="historyVisible = !historyVisible" translate>
      Show attendance history
    </button>
    <button type="button" class="btn btn-sm btn-default" ng-if="historyVisible" ng-click="pdfExport()">
      <i class="fa fa-file-pdf-o fa-lg"></i>
      PDF
    </button>
    <button type="button" class="btn btn-sm btn-default" ng-if="historyVisible"
            ng-bootbox-confirm="{{ 'Are you sure you want to delete the attendance history?' | translate }}"
            ng-bootbox-confirm-action="deleteHistory()">
      <i class="fa fa-remove fa-lg"></i>
      <translate>Delete</translate>
    </button>
  </div>

  <div class="spacer scroll-x-container well well-sm" uib-collapse="!historyVisible">
    <table class="table table-striped table-bordered table-condensed small" id="history-table">
      <thead>
        <tr>
          <th><translate>Time</translate>
          <th class="text-right"><translate>Heads</translate>

          <!-- Shares columns -->
          <th ng-repeat="category in (categories | orderBy:'id')" class="text-right">
            {{ category.name }}

      <tbody>
        <tr ng-repeat="log in attendanceLogs | orderBy:'-created'">
          <!-- TODO: Use localized time format -->
          <td>{{ log.created | date:'yyyy-MM-dd HH:mm:ss' }}
          <td class="text-right">{{ log.json().heads }}

          <!-- Shares collection, categories must be sorted in the same order as the header -->
          <td ng-repeat="category in (categories | orderBy:'id')" class="text-right">
            {{ log.json()[category.id] | number:getVPPrecision(category.name)  }}
    </table>
  </div>
</div>
