<div ng-controller="SpeakerListCtrl" ng-init="item=$parent.$parent.item" class="spacer">
  <button ng-if="canStartVoting()"
    ng-click="startVoting()"
    class="btn btn-sm btn-default">
    <i class="fa fa-wifi" aria-hidden="true"></i>
    {{ 'Start speakers voting' | translate }}
  </button> 
  <button ng-if="canStopVoting()"
    ng-click="stopVoting()"
    class="btn btn-sm btn-primary">
    <i class="fa fa-wifi" aria-hidden="true"></i>
    {{ 'Stop speakers voting' | translate }}
  </button>
  <uib-alert ng-show="vcAlert.show" type="{{ vcAlert.type }}" ng-click="vcAlert={}" close="vcAlert={}">
    {{ vcAlert.msg }}
  </uib-alert>
</div>
