<div class="header">
  <div class="title">
    <div class="submenu">
      <a ui-sref="openslides_voting.shares.list" class="btn btn-sm btn-default">
        <i class="fa fa-angle-double-left fa-lg"></i>
        <translate>Back to overview</translate>
      </a>
    </div>
    <h1 translate>Import voting shares</h1>
  </div>
</div>

<div class="details">
  <h3 translate>Select a CSV file</h3>
  <csv-import change="onCsvChange(csv)" config="csvConfig"></csv-import>

  <h4 translate>Please note:</h4>
  <ul class="indentation">
      <li><translate>Required comma or semicolon separated values with these column header names in the first row</translate>:<br>
        <code>
          <translate>Given name</translate>,
          <translate>Surname</translate>,
          <translate>Participant number</translate>,
          <translate>Voting principle</translate> 1,
          <translate>Voting principle</translate> 2
        </code>
      <li translate>You may provide as many voting principles as you like.
      <li translate>Only double quotes are accepted as text delimiter (no single quotes).
  </ul>

  <div ng-if="delegateShares.length">
    <h3 translate>Preview</h3>
    <div class="scroll-x-container">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>
            <th>#
            <th translate>Delegate
            <th ng-repeat="p in principles">{{ p }}
        <tbody>
          <tr ng-repeat="delegateShare in delegateShares | limitTo:pagination.itemsPerPage:pagination.limitBegin">
            <td class="minimum"
                ng-class="{ 'text-danger': delegateShare.importerror, 'text-success': delegateShare.imported }">
              <span ng-if="delegateShare.importerror">
                <i class="fa fa-exclamation-triangle fa-lg"></i>
              </span>
                <span ng-if="!delegateShare.importerror && !delegateShare.imported" class="pointer">
                  <i class="fa fa-check-circle-o fa-lg" ng-if="delegateShare.selected" ng-click="delegateShare.selected=false; calcStats();"></i>
                  <i class="fa fa-circle-o fa-lg" ng-if="!delegateShare.selected" ng-click="delegateShare.selected=true; calcStats();"></i>
                </span>
              <span ng-if="delegateShare.imported">
                <i class="fa fa-check-circle fa-lg"></i>
              </span>
            <td class="nobr">
              {{ (pagination.currentPage - 1) * pagination.itemsPerPage + $index + 1 }}
            <td ng-class="{ 'text-danger': delegateShare.error.user }">
              <span ng-if="delegateShare.error.user" title="{{ delegateShare.error.user | translate }}">
                <i class="fa fa-exclamation-triangle"></i>
              </span>
              {{ delegateShare.fullname }}
            <td ng-repeat="p in principles"
                ng-class="{ 'text-danger': delegateShare.error[p] }">
              <span ng-if="delegateShare.error[p]" title="{{ delegateShare.error[p] | translate }}">
                <i class="fa fa-exclamation-triangle"></i>
              </span>
              {{ delegateShare[p] }}
      </table>
    </div>
    <ul uib-pagination
        ng-show="delegateShares.length > pagination.itemsPerPage"
        total-items="delegateShares.length"
        items-per-page="pagination.itemsPerPage"
        ng-model="pagination.currentPage"
        ng-change="pagination.pageChanged()"
        class="pagination-sm"
        direction-links="false"
        boundary-links="true"
        first-text="&laquo;"
        last-text="&raquo;">
    </ul>

    <div class="text-danger">
      <i class="fa fa-exclamation-triangle"></i>
      {{ sharesWillNotBeImported }}
      <translate>voting shares will not be imported.</translate>
    </div>
    <div>
      <i class="fa fa-check-circle-o fa-lg"></i>
      {{ sharesWillBeImported }}
      <translate>voting shares will be imported.</translate>
    </div>
    <div ng-repeat="share in delegateSharesImported = (delegateShares | filter:{imported:true})"></div>
    <div ng-if="delegateSharesImported.length" class="text-success">
      <hr class="smallhr">
      <i class="fa fa-check-circle fa-lg"></i>
      {{ delegateSharesImported.length }}
      <translate>voting shares were successfully imported.</translate>
    </div>

    <div class="spacer">
      <button ng-click="clear()" class="btn btn-default" translate>
        Clear preview
      </button>
      <button ng-if="!csvImporting && sharesWillBeImported > 0" ng-click="import()" class="btn btn-primary" translate>
        Import {{ sharesWillBeImported }} voting shares
      </button>
    </div>
    <div class="spacer">
      <a ng-if="csvImported" ui-sref="openslides_voting.shares.list" class="btn btn-default">
        <i class="fa fa-angle-double-left fa-lg"></i>
        <translate>Back to overview</translate>
      </a>
    </div>
  </div>
</div>
