<div ng-controller="SlideMotionPollCtrl" class="content scrollcontent">

  <style type="text/css">
    #resultTable {
      font-size: 150%;
      line-height: 40px;
      margin: 0 20px 0 0;
      font-weight: bold;
      width: auto;
    }
    #resultTable img {
      width: auto;
    }
    #resultTable td {
      padding: 9px;
    }
    #resultTable td.bold {
      font-weight: bold;
      text-align: right;
    }
    #resultTable td.vote {
      min-width: 30px;
    }
    #resultTable td.percentage {
      font-weight: normal;
      font-size: 70%;
      min-width: 200px;
    }

    #delegateBoard table {
        border-collapse: separate;
        border-spacing: 5px;
        border: none;
    }
    #delegateBoard table td {
        background-color: #ffffff;
        padding: 0 2px;
        font-size: 0.75em;
        border: none;
        height: 50px;
    }
    #delegateBoard table td.seat {
        border: 1px solid black;
        line-height: 120%;
        text-align: center;
    }
    #delegateBoard table td.seat-N {
        background-color: #ff201c;
    }
    #delegateBoard table td.seat-Y {
        background-color: #008f2a;
    }
    #delegateBoard table td.seat-A {
        background-color: #f1d300;
    }
    #delegateBoard table td.seat-anonymous {
        background-color: #999;
    }
  </style>

  <!-- Title -->
  <div id="title">
    <h1>{{ motion.getTitle() }}</h1>
    <h2>
      <span><translate>Motion</translate> {{ motion.identifier }} </span>
      <span ng-if="poll.has_votes"> | <translate>Voting result</translate></span>
    </h2>
  </div>

  <!-- Result table -->
  <table ng-if="poll.has_votes"
      class="well pull-left" id="resultTable">
    <!-- yes -->
    <tr>
      <td><img src='/static/img/button-yes.png'>
      <td class="bold">{{ poll.yes | number:votesPrecision }}
      <td class="percentage">
        <div ng-if="poll.getVote(poll.yes, 'yes').percentNumber">
          {{ poll.getVote(poll.yes, 'yes').percentStr || '&nbsp;' }}
          <uib-progressbar value="poll.getVote(poll.yes, 'yes').percentNumber" type="success"></uib-progressbar>
        </div>

    <!-- no -->
    <tr>
      <td><img src='/static/img/button-no.png'>
      <td class="bold">{{ poll.no | number:votesPrecision }}
      <td class="percentage">
        <div ng-if="poll.getVote(poll.no, 'no').percentNumber">
          {{ poll.getVote(poll.no, 'no').percentStr || '&nbsp;' }}
          <uib-progressbar value="poll.getVote(poll.no, 'no').percentNumber" type="danger"></uib-progressbar>
        </div>

    <!-- abstain -->
    <tr>
      <td><img src='/static/img/button-abstain.png'>
      <td class="bold">{{ poll.abstain | number:votesPrecision }}
      <td class="percentage">
        <div ng-if="poll.getVote(poll.abstain, 'abstain').percentNumber">
          {{ poll.getVote(poll.abstain, 'abstain').percentStr || '&nbsp;'}}
          <uib-progressbar value="poll.getVote(poll.abstain, 'abstain').percentNumber" type="warning"></uib-progressbar>
        </div>

    <!-- valid votes -->
    <tr class="total">
      <td>
      <td class="bold">{{ poll.votesvalid | number:votesPrecision }}
      <td> {{ poll.getVote(poll.votesvalid, 'votesvalid').percentStr }}
  </table>

  <!-- Delegate board -->
  <div id="delegateBoard" ng-if="!poll.has_votes" ng-bind-html="delegateBoardHtml | trusted"></div>
</div>
