<div ng-controller="SlideAssignmentPollCtrl" class="content scrollcontent">
  <ng-include src="'static/templates/openslides_voting/submit-buttons-css.html'"></ng-include>

  <style type="text/css">
    #resultTable {
      font-size: 150%;
      line-height: 40px;
      margin: 0 20px 0 0;
      width: auto;
    }
    .width100  {
      width: 100% !important;
    }
    #resultTable td {
      padding: 9px;
    }
    #resultTable td.bold {
      font-weight: bold;
      text-align: right;
    }
    #resultTable td.vote {
      min-width: 30px;
    }
    #resultTable td.chart {
      width: 200px;
    }
    #resultTable td.percentage {
        font-weight: normal;
        font-size: 70%;
        min-width: 80px;
    }
    #resultTable .key {
      width: 45px;
      height: 45px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      background-color:#100A4A;
      color: white;
      font-weight: bold;
      font-size: 1.2em;
      display: inline-block;
      text-align: center;
    }

    #delegateBoard table {
        border-collapse: separate;
        border-spacing: 5px;
        border: none;
        width: 100%;
    }
    #delegateBoard table td {
        background-color: #ffffff;
        padding: 0 2px;
        font-size: 0.75em;
        border: none;
        height: 50px;
    }
    #delegateBoard table td.label {
        font-weight: bold;
        color: #000000;
        white-space: nowrap;
        width: auto;
        padding-top: 10px;
        margin-right: 0;
    }
    #delegateBoard table td.seat {
        border: 1px solid black;
        line-height: 120%;
        text-align: center;
    }
    #delegateBoard table td.seat-N {
        background-color: #d9534f;
    }
    #delegateBoard table td.seat-Y {
        background-color: #5cb85c;
    }
    #delegateBoard table td.seat-A {
        background-color: #f1d300;
    }
    #delegateBoard table td.seat-anonymous {
        background-color: #999;
    }
    #delegateBoard table td.seat-invalid {
        background-color: #fe9a9a;
    }
    #delegateBoard table td.seat-voted {
        background-color: #92b8de;
    }
    #delegateBoard table td span.key {
        font-weight: bold;
        width: 1em;
        height: 1em;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #100A4A;
        color: white;
        font-size: 110%;
        display: inline-block;
        text-align: center;
    }
  </style>

  <!-- Title -->
  <div id="title">
    <h1>{{ assignment.agenda_item.getTitle() }}</h1>
    <h2>
      <span ng-if="poll.has_votes && poll.options.length == 1">
        {{ poll.options[0].candidate.full_name }}
      </span>
      <span ng-if="poll.has_votes && poll.options.length > 1" translate>
        Election result
      </span>
      <span ng-if="!poll.has_votes && poll.options.length > 1" translate>
        Election
      </span>
    </h2>
  </div>

  <!-- Result table for Yes/No/Abstain (for one candidate only! = same as motion poll result table) -->
  <table ng-if="poll.has_votes && poll.options.length == 1" class="well pull-left" id="resultTable">
    <tbody ng-init="option = poll.options[0]">
    <!-- yes -->
    <tr>
      <td>
        <button type="button" class="btn btn-default btn-voting-md btn-yes">
          <i class="fa fa-thumbs-o-up fa-2x"></i>
        </button>
        <strong translate>Yes</strong>
      <td class="bold">{{ option.getVotes()[0].value | number:votesPrecision }}
      <td class="bold nobr">
        <div ng-if="option.getVotes()[0].percentNumber">
          {{ option.getVotes()[0].percentStr || '&nbsp;' }}
        </div>
      <td class="chart">
        <div ng-if="option.getVotes()[0].percentNumber">
          <uib-progressbar value="option.getVotes()[0].percentNumber" type="success"></uib-progressbar>
        </div>

    <!-- no -->
    <tr>
      <td>
        <button type="button" class="btn btn-default btn-voting-md btn-no">
          <i class="fa fa-thumbs-o-down fa-2x"></i>
        </button>
        <strong translate>No</strong>
      <td class="bold">{{ option.getVotes()[1].value | number:votesPrecision }}
      <td class="bold nobr">
        <div ng-if="option.getVotes()[1].percentNumber">
          {{ option.getVotes()[1].percentStr || '&nbsp;' }}
        </div>
      <td class="chart">
        <div ng-if="option.getVotes()[1].percentNumber">
          <uib-progressbar value="option.getVotes()[1].percentNumber" type="danger"></uib-progressbar>
        </div>

    <!-- abstain -->
    <tr ng-if="poll.pollmethod === 'yna'">
      <td>
        <button type="button" class="btn btn-default btn-voting-md btn-abstain">
          <i class="fa fa-circle-o fa-2x"></i>
        </button>
        <strong translate>Abstain</strong>
      <td class="bold">{{ option.getVotes()[2].value | number:votesPrecision }}
      <td class="bold nobr">
        <div ng-if="option.getVotes()[2].percentNumber">
          {{ option.getVotes()[2].percentStr || '&nbsp;' }}
        </div>
      <td class="chart">
        <div ng-if="option.getVotes()[2].percentNumber">
          <uib-progressbar value="option.getVotes()[2].percentNumber" type="warning"></uib-progressbar>
        </div>

    <!-- valid votes -->
    <tr class="total">
      <td><strong translate>Valid votes</strong>
      <td class="bold">{{ poll.votesvalid }}
      <td class="bold">{{ poll.getVote('votesvalid').percentStr }}

      <td>
    </tbody>
  </table>


  <!-- Result table for Yes/No/Abstain (>1 candidates), with votecollector not possible -->
  <table ng-if="(poll.pollmethod === 'yna' || poll.pollmethod ===
'yn') && poll.has_votes && poll.options.length > 1"
         class="well pull-left width100" id="resultTable">
    <thead>
      <td>
      <td colspan="2" class="nobr">
        <button type="button" class="btn btn-default btn-voting-sm no-margin btn-yes">
          <i class="fa fa-thumbs-o-up fa-2x"></i>
        </button>
        <translate>Yes</translate>
      <td colspan="2" class="nobr">
        <button type="button" class="btn btn-default btn-voting-sm no-margin btn-no">
          <i class="fa fa-thumbs-o-down fa-2x"></i>
        </button>
        <translate>No</translate>
      <td ng-if="poll.pollmethod === 'yna'" colspan="2" class="nobr">
        <button type="button" class="btn btn-default btn-voting-sm no-margin btn-abstain">
          <i class="fa fa-circle-o fa-2x"></i>
        </button>
        <translate>Abstain</translate>
    </thead>
    <tr ng-repeat="option in poll.options">
      <td>{{ option.candidate.short_name }}<br>

      <!-- yes -->
      <td class="bold">{{ option.getVotes()[0].value }}
      <td class="bold-left no-left-padding nobr">
        <div ng-if="option.getVotes()[0].percentNumber">
          <span>{{ option.getVotes()[0].percentStr || '&nbsp;' }}</span>
        </div>
      <!-- no -->
      <td class="bold">{{ option.getVotes()[1].value }}
      <td class="bold-left no-left-padding nobr">
        <div ng-if="option.getVotes()[1].percentNumber">
          <span>{{ option.getVotes()[1].percentStr || '&nbsp;' }}</span>
        </div>
      <!-- abstain -->
      <td ng-if="poll.pollmethod === 'yna'" class="bold">{{ option.getVotes()[2].value }}
      <td ng-if="poll.pollmethod === 'yna'" class="bold-left no-left-padding nobr">
        <div ng-if="option.getVotes()[2].percentNumber">
          <span>{{ option.getVotes()[2].percentStr || '&nbsp;' }}</span>
        </div>

    <!-- valid votes -->
    <tr class="total">
      <td translate>Valid votes
      <td class="bold-left" colspan="2">{{ poll.votesvalid | number:votesPrecision }}
      {{ poll.votesvalid | number:votesPrecision }}
      <td>
      <td>
      <td ng-if="poll.pollmethod === 'yna'">
      <td ng-if="poll.pollmethod === 'yna'">
  </table>

  <!-- Result table for yes votes (1..n candidates) -->
  <div ng-if="poll.pollmethod == 'votes' && poll.has_votes">
    <!-- total votes -->
    <table class="well table-striped width100" id="resultTable">
      <tr ng-repeat="option in poll.options" ng-init="votes = option.getVotes()">

        <!--candidate name -->
        <td>
          <!-- keypad key -->
          <span ng-if="showKey" class="key">{{ $index + 1 }} </span>
          <i ng-if="option.is_elected" class="fa fa-star"></i>
          <strong>{{ option.candidate.short_name }}</strong>

        <!-- votes -->
        <td class="bold">{{votes[0].value | number:votesPrecision}}
        <td class="bold-left">{{votes[0].percentStr}}
        <td class="chart">
          <uib-progressbar ng-if="votes[0].percentNumber" value="votes[0].percentNumber" type="success"></uib-progressbar>

      <!-- abstain -->
      <tr ng-if="poll.pollmethod === 'votes'">
        <td translate>Abstain
        <td class="text-right">{{ poll.votesabstain | number:votesPrecision }}
        <td>{{ poll.getVote('votesabstain').percentStr }}
        <td>

      <!-- no -->
      <tr  ng-if="poll.pollmethod === 'votes'">
        <td translate>No
        <td class="text-right">{{ poll.votesno | number:votesPrecision }}
        <td>{{ poll.getVote('votesno').percentStr }}
        <td>

      <!-- valid votes -->
      <tr class="total">
        <td><strong translate>Valid votes</strong>
        <td class="bold">{{ poll.votesvalid | number:votesPrecision }}
        <td class="bold-left">{{ poll.getVote('votesvalid').percentStr }}
        <td>

      <!-- invalid votes -->
      <tr>
        <td><translate>Invalid votes</translate>
        <td class="text-right">{{ poll.votesinvalid | number:votesPrecision }}
        <td>{{ poll.getVote('votesinvalid').percentStr }}
        <td>

      </table>
  </div>

  <!-- Delegate board -->
  <div id="delegateBoard" ng-if="!poll.has_votes" ng-bind-html="delegateBoardHtml | trusted"></div>
</div>
