<style type="text/css">
    .spacer-left {
        margin-left: 20px;
    }
    .spacer-left-lg {
        margin-left: 80px;
    }
    .vote-column {
        width: 20%;
        white-space: nowrap;
    }
    .candidatename {
        vertical-align: middle !important;
    }
    .empty-column {
        width: 10px;
        background-color: #fff !important;
        border: 0px solid #fff !important;
    }
    .table > tbody > tr > td.more-space-here {
        padding: 20px;
    }
    .votingoption, .votingoptions {
        font-size: 22px;
    }
    .btn-voting, .btn-voting:hover, .btn-voting:focus, .btn-voting:active, .btn-voting:active:focus {
      width: 75px;
      height: 75px;
      margin-right: 12px;
      color: #fff;
      font-size: 22px;
    }
    .btn-yes {
        background-color: #008842;
        border-color: #008842;
    }
    .btn-yes:hover, .btn-yes:focus, .btn-yes:active, .btn-yes:active:focus {
        background-color: #136d3f;
        border-color: #136d3f;
    }
    .btn-no {
        background-color: #e3131e;
        border-color: #e3131e;
    }
    .btn-no:hover, .btn-no:focus, .btn-no:active, .btn-no:active:focus {
        background-color: #c82029;
        border-color: #c82029;
    }
    .btn-abstain {
        background-color: #f0d300;
        border-color: #f0d300;
    }
    .btn-abstain:hover, .btn-abstain:focus, .btn-abstain:active, .btn-abstain:active:focus {
        background-color: #d7c016;
        border-color: #d7c016;
    }
    .btn-gray {
        background-color: #a0a0a0;
        border-color: #a0a0a0;
    }
    .btn-gray:hover, .btn-gray:focus, .btn-gray:active, .btn-gray:active:focus {
        background-color: #888;
        border-color: #888;
    }
</style>
