<style type="text/css">
    .voting-icon {
      width: 35px;
      height: 34px;
    }
    .gray-icon {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
    .table > tbody > tr > td.more-space-here {
        padding: 20px;
    }
</style>

<table class="table table-striped table-bordered" ng-if="poll.pollmethod !== 'votes'">
  <thead>
    <tr>
      <th translate>Candidates</th>
      <th translate>Yes</th>
      <th translate>No</th>
      <th ng-if="poll.pollmethod === 'yna'" translate>Abstain</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="option in poll.options | orderBy: 'weight'">
      <td>{{ option.candidate.full_name }}</td>
      <td ng-click="votes[option.candidate.id] = 'Y'">
          <img src="/static/img/button-yes.png" class="voting-icon pointer"
            ng-class="{'gray-icon': votes[option.candidate.id] !== 'Y'}">
      </td>
      <td ng-click="votes[option.candidate.id] = 'N'">
          <img src="/static/img/button-no.png" class="voting-icon pointer"
            ng-class="{'gray-icon': votes[option.candidate.id] !== 'N'}">
      </td>
      <td ng-click="votes[option.candidate.id] = 'A'"
        ng-if="poll.pollmethod === 'yna'">
          <img src="/static/img/button-abstain.png" class="voting-icon pointer"
            ng-class="{'gray-icon': votes[option.candidate.id] !== 'A'}">
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-striped table-bordered" ng-if="poll.pollmethod === 'votes'">
  <thead>
    <tr>
      <th translate>Candidates</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="option in poll.options | orderBy: 'weight'">
      <td class="pointer more-space-here" ng-click="votes.candidateIndex = ($index + 1)">
        <img src="/static/img/button-yes.png" class="voting-icon"
          ng-class="{'gray-icon': votes.candidateIndex !== ($index + 1)}">
        {{ option.candidate.full_name }}
      </td>
    </tr>
  </tbody>
</table>
