<div class="row">
  <div class="col-xs-4">
    <span class="pointer" ng-click="vote('Y')">
      <img src="/static/img/button-yes.png">
      <translate>Yes</translate>
    </span>
  </div>
  <div class="col-xs-4">
    <span class="pointer" ng-click="vote('N')">
      <img src="/static/img/button-no.png">
      <translate>No</translate>
    </span>
  </div>
  <div class="col-xs-4">
    <span class="pointer" ng-click="vote('A')">
      <img src="/static/img/button-abstain.png">
      <translate>Abstain</translate>
    </span>
  </div>
</div>
