<style type="text/css">
    #content .containerOS, #header .containerOS {
        max-width: none;
    }
    #content {
        margin-bottom: 30px;
    }
    .tokenvoting {
        font-size: 22px;
    }
    .tokenvoting h1 {
        font-size: 50px;
    }
    .tokenvoting .btn {
        font-size: 22px;
    }
    .tokenvoting .btn-primary {
        font-size: 18px;
    }
    .tokeninputform {
        margin-top: 20px;
        margin-bottom: 70px;
    }
    .tokeninputform label {
        font-weight: normal;
    }
    .tokeninputform input {
        font-size: 22px;
        height: 40px;
    }
    .tokenvoting .spacer-top-lg {
        margin-top: 45px;
    }
</style>

<div class="header tokenvoting">
  <div class="title">
    <!-- no token voting -->
    <h2 ng-if="!isTokenVoting" translate>
      Voting is not yet running ...
    </h2>
    <!-- token voting -->
    <div ng-if="isTokenVoting">
      <div ng-if="av.motionPoll">
        <h1><translate>Vote</translate>: <translate>Motion</translate>
            {{ av.motionPoll.motion.identifier }}</h1>
        <h2>{{ av.motionPoll.motion.getTitle() }}</h2>
      </div>
      <div ng-if="av.assignmentPoll">
        <h1>{{ av.assignmentPoll.assignment.getAgendaTitle() }}</h1>
      </div>
    </div>

  </div>
</div>

<div class="details tokenvoting" ng-show="isTokenVoting || alert.show">
  <div uib-alert ng-show="alert.show" ng-class="'alert-' + alert.type" close="alert={}">
    {{ alert.msg }}
  </div>

  <div ng-show="isTokenVoting">
    <div ng-if="votingState === 'scan'">
      <form ng-submit="scan()" class="row" ng-if="av.motionPoll || av.assignmentPoll">
        <div class="col-md-6">
          <div class="form-group tokeninputform">
            <label for="tokenInput" translate>Please enter your voting token:</label>
            <input type="text" class="form-control" id="tokenInput"
              ng-model="$parent.$parent.tokenInput" ng-disabled="tokenInputDisabled" autofocus>
          </div>
          <button type="submit" class="btn btn-sm btn-primary" translate>
            Continue
          </button>
        </div>
      </form>
    </div>

    <div ng-if="votingState === 'enter'">
      <div ng-if="av.motionPoll">
        <ng-include src="'static/templates/openslides_voting/submit-motion-poll-buttons.html'"></ng-include>
        <button type="button" class="btn btn-primary spacer-top-lg" ng-click="submitVote()"
          ng-disabled="!mpbVote" translate>
          Submit vote
        </button>
      </div>
      <div ng-if="av.assignmentPoll" clas="spacer-top-lg">
        <p>{{ av.assignmentPoll.description }}</p>
        <ng-include src="'static/templates/openslides_voting/submit-assignment-poll-buttons.html'"></ng-include>

        <button type="button" class="btn btn-primary spacer-top-lg" ng-click="submitVote()"
          ng-disabled="!canSubmitAssignmentPoll()" translate>
          Submit vote
        </button>
      </div>
    </div>

    <div ng-if="votingState === 'submitted'">
      <p class="bold" translate>Vote was submitted successfully!</p>
      <p>
        <translate>Your personal result number to validate your voting:</translate>
        <br>
        <strong style="font-size: 130%">{{ resultToken }}</strong>
      </p>

      <button type="button" class="btn btn-primary spacer-top-lg" ng-click="reset()">
        <translate>Closed in</translate>
        {{ timeout }}
        <translate>seconds</translate> ...
      </button>
    </div>
  </div>
</div>
