<style type="text/css">
    .spacer-left {
        margin-left: 20px;
    }
    .spacer-left-lg {
        margin-left: 80px;
    }
    .vote-column {
        width: 20%;
        white-space: nowrap;
    }
    .candidatename {
        vertical-align: middle !important;
    }
    .empty-column {
        width: 10px;
        background-color: #fff !important;
        border: 0px solid #fff !important;
    }
    .table > tbody > tr > td.more-space-here {
        padding: 20px;
    }
    #resultTable {
        width: auto;
    }
    #resultTable td {
        vertical-align: middle;
    }
    #resultTable td.chart .progress{
        height: 30px;
        margin-bottom: 3px;
    }
    .total {
        border-top: 2px solid #d3d3d3;
    }
    .total td {
        background-color: #e3e3e3
    }
    .votingoption, .votingoptions {
        font-size: 22px;
    }
    .bold-left {
      font-weight: bold;
    }
    .no-margin {
      margin-right: 0 !important;
    }
    .no-left-padding {
      padding-left: 0 !important;
    }
    .btn-voting, .btn-voting:hover, .btn-voting:focus, .btn-voting:active, .btn-voting:active:focus {
      width: 75px;
      height: 75px;
      margin-right: 12px;
      color: #fff;
      font-size: 22px;
    }
    .btn-voting-md {
      width: 65px;
      height: 65px;
      margin-right: 12px;
      color: #fff;
      font-size: 20px;
    }
    .btn-voting-sm {
      width: 55px;
      height: 55px;
      margin-right: 12px;
      color: #fff;
      font-size: 16px;
    }
    .btn-voting-xs, .btn-voting-xs:hover, .btn-voting-xs:focus, .btn-voting-xs:active, .btn-voting-xs:active:focus {
      width: 40px;
      height: 40px;
      margin-right: 8px;
      color: #fff;
      font-size: 9px;
    }
    .btn-yes, .progress-bar-success {
        background-color: #008842;
        border-color: #008842;
    }
    .btn-yes:hover, .btn-yes:focus, .btn-yes:active, .btn-yes:active:focus {
        background-color: #136d3f;
        border-color: #136d3f;
    }
    .btn-no, .progress-bar-danger {
        background-color: #e3131e;
        border-color: #e3131e;
    }
    .btn-no:hover, .btn-no:focus, .btn-no:active, .btn-no:active:focus {
        background-color: #c82029;
        border-color: #c82029;
    }
    .btn-abstain, .progress-bar-warning {
        background-color: #f0d300;
        border-color: #f0d300;
    }
    .btn-abstain:hover, .btn-abstain:focus, .btn-abstain:active, .btn-abstain:active:focus {
        background-color: #d7c016;
        border-color: #d7c016;
    }
    .btn-gray {
        background-color: #a0a0a0;
        border-color: #a0a0a0;
    }
    .btn-gray:hover, .btn-gray:focus, .btn-gray:active, .btn-gray:active:focus {
        background-color: #888;
        border-color: #888;
    }
</style>
