<span os-perms="openslides_voting.can_manage">
  <a ui-sref="openslides_voting.attendance" class="btn btn-default btn-sm">
    <i class="fa fa-check-square-o fa-lg"></i>
    <translate>Attendance</translate>
  </a>
  <a ui-sref="openslides_voting.absenteeVote.list" class="btn btn-default btn-sm">
    <i class="fa fa-file-text-o fa-lg"></i>
    <translate>Absentee votes</translate>
  </a>
  <a ui-sref="openslides_voting.keypad.list" class="btn btn-default btn-sm">
    <i class="fa fa-wifi fa-lg"></i>
    <translate>Keypads</translate>
  </a>
  <a ui-sref="openslides_voting.shares.list" class="btn btn-default btn-sm">
    <i class="fa fa-pie-chart fa-lg"></i>
    <translate>Shares</translate>
  </a>
</span>
